In [3]:
import pandas as pd
import json

# Data Processing

Import the data that was written by the backend API into the text file with each line being a new entry. Process each line and save it to a list of dictionaries.

In [4]:
list_of_dicts = []

with open('raw_data.txt', "r") as f_in:
    list_of_dicts = [json.loads(line.strip().replace("\'", "\"").replace("True", "\"True\"").replace("False", "\"False\"")) for line in f_in]
#     for line in f_in:
#         # Remove newline characters and replace single quotes with double quotes
#         line = line.strip()
#         line = line.replace("\'", "\"")
#         line = line.replace("True", "\"True\"") # javascript sent the boolean values to the Python API without quotation marks
#         line = line.replace("False", "\"False\"")
#         list_of_dicts.append(line)
        
# Print one of the dictionaries in the list
print(list_of_dicts[0])

{'1': [0.01, 1, 5, 25, 50, 75, 200, 400, 500, 1000, 5000, 10000, 50000, 100000, 200000, 300000, 400000, 500000, 750000, 1000000], '2': [0.01, 1, 5, 50, 75, 400, 500, 5000, 10000, 50000, 100000, 200000, 300000, 500000, 750000], '3': [0.01, 1, 5, 75, 500, 10000, 50000, 100000, 200000, 300000, 500000], '4': [1, 5, 75, 10000, 100000, 200000, 300000, 500000], '5': [1, 5, 75, 10000, 300000, 500000], '6': [1, 75, 10000, 300000, 500000], 'bo1': 38973, 'po1': 4500000, 'bo2': 46063, 'po2': 4000000, 'bo3': 53588, 'po3': 500000, 'bo4': 90778, 'po4': 85565375, 'bo5': 104761, 'po5': 400000, 'bo6': 136668, 'po6': 6000, 'result': 'D', 'end_round': 6, 'winnings': 6000, 'game_id': 'G96845'}

Turn it into a dataframe to work with it more easily.

In [5]:
df = pd.DataFrame(list_of_dicts)
data = pd.json_normalize(df.to_dict(orient='records'))
data.head()

,1,2,3,4,5,6,bo1,po1,bo2,po2,...,7,8,9,bo7,po7,bo8,po8,bo9,po9,first_game
0,"[0.01, 1, 5, 25, 50, 75, 200, 400, 500, 1000, ...","[0.01, 1, 5, 50, 75, 400, 500, 5000, 10000, 50...","[0.01, 1, 5, 75, 500, 10000, 50000, 100000, 20...","[1, 5, 75, 10000, 100000, 200000, 300000, 500000]","[1, 5, 75, 10000, 300000, 500000]","[1, 75, 10000, 300000, 500000]",38973,4500000.0,46063.0,4000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[0.01, 5, 10, 25, 50, 100, 200, 300, 400, 750,...","[0.01, 5, 10, 25, 100, 300, 400, 10000, 25000,...","[10, 25, 100, 300, 400, 10000, 75000, 200000, ...",NaN,NaN,NaN,33737,45643532.0,68529.0,45678.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[0.01, 1, 5, 10, 50, 75, 100, 400, 500, 750, 5...","[0.01, 1, 5, 10, 100, 400, 500, 750, 5000, 250...","[1, 5, 10, 400, 500, 750, 5000, 25000, 75000, ...",NaN,NaN,NaN,36523,423545.0,57742.0,134232.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[0.01, 1, 5, 10, 25, 50, 75, 200, 300, 400, 50...",NaN,NaN,NaN,NaN,NaN,23982,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[0.01, 5, 10, 25, 50, 100, 300, 400, 750, 5000...",NaN,NaN,NaN,NaN,NaN,39839,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Get an idea of all the columns we have

In [6]:
data.columns

Index(['1', '2', '3', '4', '5', '6', 'bo1', 'po1', 'bo2', 'po2', 'bo3', 'po3',
       'bo4', 'po4', 'bo5', 'po5', 'bo6', 'po6', 'result', 'end_round',
       'winnings', 'game_id', '7', '8', '9', 'bo7', 'po7', 'bo8', 'po8', 'bo9',
       'po9', 'first_game'],
      dtype='object')

Delete the entries that aren't linked to Qualtrics responses

First import the data from the study, which was exported from Qualtrics

In [30]:
qualtrics = pd.read_csv('Decision Making_October 9, 2023_10.15 - Sheet1.csv')
qualtrics.head(10)

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,RecipientFirstName,...,Q31,Q30,Q29,Q28,Q27,Q26,Q8,Q22,Q22.1,Q23
0,Start Date,End Date,Response Type,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,Recipient First Name,...,If the chance of getting a disease is 20 out o...,"Imagine that we roll a fair, six-sided die 100...","In the BIG BUCKS LOTTERY, the chances of winni...","In the ACME PUBLISHING SWEEPSTAKES, the chance...","In a lake, there is a patch of lily pads. Ever...",If it takes five machines 5â€‰minutes to make fi...,Suppose you have a close friend who has a lump...,Are you familiar with the game Deal or No Deal?,Enter your first game ID (G#####),Enter your second game ID (G#####)
1,6/16/2023 11:44,6/16/2023 11:47,IP Address,78,161,FALSE,6/23/2023 11:47,R_3su0Ltne29zNSjJ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN
2,7/5/2023 13:02,7/5/2023 13:12,IP Address,81,605,FALSE,7/12/2023 13:12,R_V3adGClNwIKHEKR,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3,8/24/2023 21:46,8/24/2023 21:47,IP Address,100,62,TRUE,8/24/2023 21:47,R_reia0IEJiOWKfT3,NaN,NaN,...,1000,1000,1000,1000,1000,10000,10000,No,3,3
4,8/31/2023 16:22,8/31/2023 16:27,IP Address,100,347,TRUE,8/31/2023 16:27,R_SNJOxOzIBVlJchH,NaN,NaN,...,20,500,10,0.1,47,5,50,Yes,111,2122
5,8/24/2023 21:48,8/25/2023 0:38,IP Address,4,10198,FALSE,9/1/2023 0:38,R_pN9gvr2q8XzUXap,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,9/7/2023 17:34,9/7/2023 17:41,IP Address,100,407,TRUE,9/7/2023 17:41,R_1FsJAFREJ8ZcSi5,NaN,NaN,...,20,500,100,0.001,47,1,9,Yes,G61742,G37411
7,9/7/2023 17:33,9/7/2023 17:45,IP Address,100,731,TRUE,9/7/2023 17:45,R_3GkrBHRQO78S3F3,NaN,NaN,...,20,500,10,0.1,47,5,50,No,G98688,G77438
8,9/7/2023 17:46,9/7/2023 17:54,IP Address,100,464,TRUE,9/7/2023 17:54,R_296Up7NaeLaPjAb,NaN,NaN,...,20,500,10,0.1,47,5,50,Yes,G61803,G93864
9,9/7/2023 17:43,9/7/2023 17:58,IP Address,100,893,TRUE,9/7/2023 17:58,R_3ilodc6SanicvUO,NaN,NaN,...,20,500,10,10,24,100,90,Yes,G24923,G35139

Isolate the two columns that have the Game ID's that will be used to filter the data df

In [31]:
g1 = qualtrics['Q22.1']
g2 = qualtrics['Q23']

In [32]:
type(g1)

pandas.core.series.Series

Filter out rows in data whose game ID's don't match a response from a participant in the Qualtrics survey

In [33]:
data = data[data['game_id'].isin(g1) | data['game_id'].isin(g2)]
data.shape

(560, 32)

Create df just for banker's offer version

In [34]:
bdata = data[data['po1'].isnull()]
bdata.shape

(281, 32)

Create df just for player's offer version

In [35]:
pdata = data[data['po1'].notnull()]
pdata.shape

(279, 32)

Delete the rows from qualtrics data that aren't real game numbers

In [37]:
qualtrics = qualtrics[qualtrics['Q22.1'].isin(data['game_id'])]
qualtrics.shape

(290, 43)

# Exploratory Data Analysis

## Overall Data

In [11]:
data[['winnings', 'end_round']].describe()

             winnings   end_round
count      560.000000  560.000000
mean     63194.935857    4.594643
std     137207.247569    3.552566
min          0.000000    1.000000
25%        500.000000    1.000000
50%      25000.000000    3.000000
75%      58776.000000    9.000000
max    1000000.000000   10.000000

## Banker's Offer Version

In [25]:
bdata[['winnings', 'end_round']].describe()

             winnings  end_round
count      281.000000  281.00000
mean     88009.338149    4.24911
std     135091.650043    3.32553
min          0.010000    1.00000
25%      28785.000000    1.00000
50%      43105.000000    3.00000
75%      93752.000000    7.00000
max    1000000.000000   10.00000

## Player's Offer Version

In [26]:
pdata[['winnings', 'end_round']].describe()

             winnings   end_round
count      279.000000  279.000000
mean     38202.652545    4.942652
std     134998.172054    3.741216
min          0.000000    1.000000
25%         85.000000    1.000000
50%       1000.000000    3.000000
75%      10000.000000   10.000000
max    1000000.000000   10.000000

## Qualtrics Responses

### List of Questions

Get a list of the questions

In [12]:
qualtrics.columns

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Q24', 'Q1', 'Q2', 'Q3',
       'Q3_3_TEXT', 'id', 'Q4', 'Q5', 'Q10', 'Q12', 'Q11', 'Q13', 'Q14', 'Q15',
       'Q16', 'Q17', 'Q32', 'Q31', 'Q30', 'Q29', 'Q28', 'Q27', 'Q26', 'Q8',
       'Q22', 'Q22.1', 'Q23'],
      dtype='object')

The actual questions are listed in row 1

In [13]:
qualtrics.iloc[0]

StartDate                                                       Start Date
EndDate                                                           End Date
Status                                                       Response Type
IPAddress                                                       IP Address
Progress                                                          Progress
Duration (in seconds)                                Duration (in seconds)
Finished                                                          Finished
RecordedDate                                                 Recorded Date
ResponseId                                                     Response ID
RecipientLastName                                      Recipient Last Name
RecipientFirstName                                    Recipient First Name
RecipientEmail                                             Recipient Email
ExternalReference                                  External Data Reference
LocationLatitude                                         Location Latitude
LocationLongitude                                       Location Longitude
DistributionChannel                                   Distribution Channel
UserLanguage                                                 User Language
Q24                      Please read the following information regardin...
Q1                                                Enter your age in years:
Q2                       Enter the number of years of formal education ...
Q3                                   Select your gender: - Selected Choice
Q3_3_TEXT                              Select your gender: - Other: - Text
id                            Enter your full name (as it appears in SONA)
Q4                       Have you ever gambled? (e.g., sports betting, ...
Q5                                      Have you gambled in the past year?
Q10                            How good are you at working with fractions?
Q12                          How good are you at working with percentages?
Q11                             How good are you at calculating a 15% tip?
Q13                      How good are you at figuring out how much a sh...
Q14                      When reading the newspaper, how helpful do you...
Q15                      When people tell you the chance of something h...
Q16                      When you hear a weather forecast, do you prefe...
Q17                      How often do you find numerical information to...
Q32                      If the chance of getting a disease is 10%, how...
Q31                      If the chance of getting a disease is 20 out o...
Q30                      Imagine that we roll a fair, six-sided die 100...
Q29                      In the BIG BUCKS LOTTERY, the chances of winni...
Q28                      In the ACME PUBLISHING SWEEPSTAKES, the chance...
Q27                      In a lake, there is a patch of lily pads. Ever...
Q26                      If it takes five machines 5â€‰minutes to make fi...
Q8                       Suppose you have a close friend who has a lump...
Q22                        Are you familiar with the game Deal or No Deal?
Q22.1                                    Enter your first game ID (G#####)
Q23                                     Enter your second game ID (G#####)
Name: 0, dtype: object

In [15]:
qualtrics['Q29'].dropna()

0      In the BIG BUCKS LOTTERY, the chances of winni...
2                                                      0
3                                                   1000
4                                                     10
6                                                    100
                             ...
391                                                   10
392                                                   10
393                                                   10
394                                                   10
395                                                   10
Name: Q29, Length: 340, dtype: object